.custom-container {
    background-image: url('../../assets/imgs/bgbody.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.full-height-row {
    min-height: calc()
  }
  .header-container {
    margin-top: 65px;
  }