.custom-container {
    background-image: linear-gradient(189deg, #82c91e 5%, #38d9a9 95%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.full-height-row {
    min-height: calc()
  }
.header-container {
    background-image: linear-gradient(180deg, #79bd67 5%, #a6ee97 95%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
