.vacio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.falling-food-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .food {
    width: 50px; /* Ajusta el tamaño de los alimentos según sea necesario */
    height: 50px; /* Ajusta el tamaño de los alimentos según sea necesario */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .food1 {
    background-image: url('../../assets/imgs/taco.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .food2 {
    background-image: url('../../assets/imgs/papas.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .food3 {
    background-image: url('../../assets/imgs/hamburguesa.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .food4 {
    background-image: url('../../assets/imgs/pancho.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .box {
    width: 420px; 
    height: 300px; 
    background-image: url('../../assets/imgs/main.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    
  }
  .cajita{
    width: 420px; 
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  .falling-food-container .food {
    animation: animateFood 2s ease-in-out forwards;
  }
  
  .paused-animation {
    animation-play-state: paused;
  }
  .box-with-food {
    width: 420px; 
    height: 300px; 
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('../../assets/imgs/cajacomida.jpg'); 
    animation: grow 3s forwards; 
  }
  
  @keyframes grow {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes animateFood {
    0% {
      opacity: 1;
      transform: translateY(-100%) rotate(0deg);
    }
    100% {
      top: calc(100% - 50px);
      opacity: 0;
      transform: translateY(0%) rotate(360deg);
    }
  }