.consulta-canjes-form-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Para posicionar el área de puntos actuales */
}

.consulta-canjes-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.producto-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.canjear-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.canjear-button:hover {
    background-color: #45a049;
}