@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-container {
  background-image: linear-gradient(189deg, #82c91e 5%, #38d9a9 95%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.Nav-Bar.map-page {
  background-color: #fdfdfd4a;
  padding: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.full-height-row {
  min-height: calc()
}

.image-container {
  border-radius: 50%;
  border: 6px solid #15ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1051px) {
  .image-container {
    display: none;
  }

  h1 {
    font-size: 4rem !important;
    text-align: center;
  }

  .title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-group {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .btn-group .btn {
    max-width: 200px;
    /* Puedes ajustar esto según tus necesidades */
  }
}


.header-container {
  background-image: url(../../assets/imgs/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(black 80%, transparent);
}

.header-container h1 {
  font-size: 5rem;
}

.header-container img {
  max-height: 500px;
  max-width: 500px;
}

.navbar-collapse.show .nav-link {
  color: black;
}