.distribucion-viandas-page {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    overflow: auto;
}

.left-side {
    flex: 1;
    padding: 50px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: slideInLeft 1s ease-in-out forwards;
}

.left-side h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-side p {
    font-size: 18px;
    line-height: 1.6;
}

.right-side {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .distribucion-viandas-page {
        flex-direction: column;
    }

    .left-side {
        text-align: center;
        padding: 30px;
        animation: slideInTop 1s ease-in-out forwards;
    }

    .right-side {
        padding: 20px;
        animation: slideInBottom 1s ease-in-out forwards;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}