.donacion-vianda-page {
    display: flex;
    background-image: url(../../assets/imgs/bg.jpg);
    height: 100vh;
    background-color: #f7f8fa;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.left-side {
    flex: 1;
    padding: 50px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: slideInLeft 1s ease-in-out forwards;
}

.left-side h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-side p {
    font-size: 18px;
    line-height: 1.6;
}

.right-side {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s ease-in-out forwards;
}