/* DonacionDineroPage.css */

.donacion-dinero-page {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    overflow: auto;
}

.left-side {
    flex: 1;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: slideInLeft 1s ease-in-out forwards;
}

.left-side h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-side p {
    font-size: 18px;
    line-height: 1.6;
}

.right-side {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s ease-in-out forwards;
}