.publicar-producto-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    text-align: start;
    
}
@media screen and (max-width: 500px) {
    .publicar-producto-form {
        width: 100%;
    }
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.publicar-producto-form label {
    color: #666;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.publicar-producto-form input[type="text"],
.publicar-producto-form input[type="number"],
.publicar-producto-form textarea,
.publicar-producto-form input[type="file"] {
    width: 100%;
    padding: 6px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.publicar-producto-form-container textarea {
    resize: vertical;
    height: 120px;
}
