.recomendar-puntos-page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buscador-container {
    display: flex;
    width: 80vw;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 100px 0 350px;
}

.input-direccion {
    flex: 5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.buscador-container Button {
    flex: 1;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.recomendador-container {
    display: flex;
    height: 80vh;
    width: 80vw;
}

.container-puntos {
    flex: 1;
    background-color: white;
    padding: 1%;
}

.mapa {
    flex: 5;
    position: relative;
    height: 100%;
    overflow: hidden;
    outline: none;
    border: 0;
}

.punto {
    background-color: rgb(216, 227, 227);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

@media (min-aspect-ratio: 1/1) {
    .recomendador-container {
        flex-direction: row;
    }

    .lista-puntos {
        overflow-y: auto;
    }

    .container-puntos {
        flex: 1;
        margin-right: 0.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-aspect-ratio: 1/1) {
    .recomendador-container {
        flex-direction: column;
    }

    .lista-puntos {
        overflow-x: auto;
    }

    .container-puntos,
    .mapa {
        width: 100%;
    }

    .mapa {
        margin-top: 1%;
    }
}