.registrar-vulnerable-page {
    display: flex;
    background-image: url(../../assets/imgs/bg.jpg);
    height: 100vh;
    background-color: #f7f8fa;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    position: relative;
}

.registrar-vulnerable-form {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInCenter 1s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .registrar-vulnerable-page {
        flex-direction: column;
    }
}

@keyframes slideInCenter {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}