.registrar-vulnerable-page{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/imgs/bg.jpg);
    min-height: 100vh;
    gap:20px;
}
.form-vulnerable{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}