.reportes-page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.reportes-container {
    background-color: aliceblue;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

.botones {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.botones>* {
    flex: 1;
    margin: 10px;
}

.viandas-heladeras, .fallas, .viandas-colaboradores {
    display: grid;
    background-color: lightsteelblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.viandas-heladeras {
    grid-template-columns: 1fr 1fr 1fr;
}

.fallas, .viandas-colaboradores {
    grid-template-columns: 1fr 1fr;
}

.viandas-heladeras p, .fallas p, .viandas-colaboradores p {
    margin: 0;
    text-align: center;
}

.collapse-content {
    max-height: 90%;
    overflow-y: auto;
}
