.report-issue-page {
    padding: 30px;
    background-image: url(../../assets/imgs/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.report-issue-page h2 {
    font-size: 24px;
}

.report-issue-page form {
    display: flex;
    flex-direction: column;
}

