/* SuscripcionHeladeraPage.css */
.suscripcion-heladera-page {
    padding-top: 70px;
    min-height: 100vh;
    background-image: url(../../assets/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}